@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(img/Mix.jpg);
    background-color: #CDC2A5;
    color: #b0e0e6;
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 15px;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    position: relative;
   
}
.boton__back {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.enlace__link:hover {
    background-color: #272727;
}

.cifrado {
    display: inline-block;
    padding: 10px 20px;
    font-size: 40px;
    color: #57b9fa;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold;
    transition: background-color 0.3s;
}

.cifrado:hover {
    color: #DC0083;
}

.presentacion2 {
    display: flex;
    align-items: center;
    margin: 4% 15% ;
    justify-content: space-between;
    gap: 82px;
}

.contenido__titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.titulo {
    text-align: center;
    color: #f5deb3;
    font-family: "Acme", sans-serif;
    font-size: 70px;
    font-weight: 400;
   
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 40px;
}   

.contenido__texto {
    font-size: 45px;   
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: #821131;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.enlace {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.enlace__link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #191970;
    border: 3px solid #0d354e;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.intro__imagen {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.imagen {
    width: 100%;
    margin: auto;
    display: block;
}

.footer {
    height: 5px;
    background-color: #180746;
    padding: 24px;
    color: #f7f9f2;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .presentacion2 {
        flex-direction: column-reverse;
        margin: 2% 10%;
        gap: 50px;
    }

    .titulo {
        font-size: 60px;
        margin-top: 20px;
    }

    .contenido__texto {
        font-size: 40px;
    }

    .enlace__link {
        width: 80%;
        font-size: 28px;
        padding: 18px 0;
    }

    .intro__imagen {
        width: 100%;
        min-width: 600px;
    }
}

@media (max-width: 700px) {
    .presentacion2 {
        margin: 5% 5%;
        gap: 30px;
    }

    .titulo {
        font-size: 50px;
    }

    .contenido__texto {
        font-size: 35px;
    }

    .enlace__link {
        width: 100%;
        font-size: 25px;
        padding: 15px 0;
    }

    .intro__imagen {
        min-width: 100%;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 5px;
    }

    .boton__back {
        font-size: 30px;
    }

    .titulo {
        font-size: 50px;
    }

    .contenido__texto {
        font-size: 30px;
    }

    .enlace__link {
        font-size: 20px;
        padding: 15px 0;
        width: 80%;
    }

    .imagen {
        width: 100%;
    }

    .footer {
        font-size: 24px;
        padding: 20px;
    }
}